<a href="https://colab.research.google.com/github/betto9711/Diplomado/blob/main/NOTAS/FUNCIONES_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.read_excel('/content/tote_shipment.xlsx')

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [ ]:
df1 = pd.read_excel('/content/tote_shipment.xlsx', header = None)

In [ ]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3

In [ ]:
df1.columns = ['Tipo', 'Asset ID', 'Tag ID', 'Sitio', 'Zona', 'Device ID', 'Tiempo', 'lat', 'lng', 'Temp_C', 'Temp_F']

In [ ]:
df1.columns

Index(['Tipo', 'Asset ID', 'Tag ID', 'Sitio', 'Zona', 'Device ID', 'Tiempo',
       'lat', 'lng', 'Temp_C', 'Temp_F'],
      dtype='object')

In [ ]:
df1['Tag ID'].nunique()

35

In [ ]:
df1.Sitio.nunique()

5

In [ ]:
df1.groupby(['Asset ID']).nunique()

,Tipo,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
Asset ID,,,,,,,,,,
2,1,2,4,13,28,6769,63,63,238,238
37,1,2,4,14,23,12830,189,232,160,160
52,1,2,3,12,21,6819,53,59,314,314
58,1,2,3,11,19,8829,129,158,98,98
59,1,2,4,14,27,8823,130,158,338,338
62,1,2,4,13,24,11796,203,257,339,339
70,1,1,4,14,32,4648,160,192,281,281
84,1,2,3,13,23,8304,126,159,258,258
102,1,2,4,14,29,8197,110,132,406,406
145,1,2,4,13,21,4055,75,77,77,77
149,1,2,4,14,25,6348,59,61,119,119
159,1,2,4,12,25,6606,130,135,285,285
167,1,2,4,13,20,6774,152,178,408,408
170,1,2,4,14,29,6557,174,216,129,129
181,1,1,3,12,19,3495,33,36,262,262
182,1,2,3,10,23,5868,62,66,154,154
200,1,2,4,15,36,8112,197,240,102,102
205,1,2,4,15,32,5101,207,241,109,109
asset_id,1,1,1,1,1,1,1,1,1,1

In [ ]:
df1.groupby(['Asset ID'])['Tag ID'].nunique()

Asset ID
2           2
37          2
52          2
58          2
59          2
62          2
70          1
84          2
102         2
145         2
149         2
159         2
167         2
170         2
181         1
182         2
200         2
205         2
asset_id    1
Name: Tag ID, dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130062 entries, 0 to 130061
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Tipo       130062 non-null  object
 1   Asset ID   130062 non-null  object
 2   Tag ID     130062 non-null  object
 3   Sitio      130062 non-null  object
 4   Zona       130062 non-null  object
 5   Device ID  130062 non-null  object
 6   Tiempo     130062 non-null  object
 7   lat        130062 non-null  object
 8   lng        130062 non-null  object
 9   Temp_C     130062 non-null  object
 10  Temp_F     130062 non-null  object
dtypes: object(11)
memory usage: 10.9+ MB

In [ ]:
df2=df1.fillna(0)
df2

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df3=df1.copy()
df3['Zona']=df3.Zona.fillna(0)
df3

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df1['Temp_C'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
130057    False
130058    False
130059    False
130060    False
130061    False
Name: Temp_C, Length: 130062, dtype: bool

In [ ]:
df4=df1.dropna()
df4

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
t=df1['Asset_ID'==2]

KeyError: ignored