<a href="https://colab.research.google.com/github/betto9711/Diplomado/blob/main/NOTAS/pelis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix

In [ ]:
df=pd.read_csv('/content/movie_review.csv')
df

           id  sentiment                                             review
0      5814_8          1  With all this stuff going down at the moment w...
1      2381_9          1  \"The Classic War of the Worlds\" by Timothy H...
2      7759_3          0  The film starts with a manager (Nicholas Bell)...
3      3630_4          0  It must be assumed that those who praised this...
4      9495_8          1  Superbly trashy and wondrously unpretentious 8...
...       ...        ...                                                ...
4995   3720_2          0  Is this film a joke? Is it a comedy? Surely it...
4996  4229_10          1  Don't waste time reading my review. Go out and...
4997   8042_3          0  The secret is...this movie blows. Sorry, but i...
4998   9669_9          1  After reading the original play I thought it w...
4999  11216_7          1  The story is extremely unique.It's about these...

[5000 rows x 3 columns]

In [ ]:
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \"The Classic War of the Worlds\" by Timothy H...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5000 non-null   object
 1   sentiment  5000 non-null   int64
 2   review     5000 non-null   object
dtypes: int64(1), object(2)
memory usage: 117.3+ KB

In [ ]:
df.describe()

         sentiment
count  5000.000000
mean      0.503400
std       0.500038
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [ ]:
df.review

0       With all this stuff going down at the moment w...
1       \"The Classic War of the Worlds\" by Timothy H...
2       The film starts with a manager (Nicholas Bell)...
3       It must be assumed that those who praised this...
4       Superbly trashy and wondrously unpretentious 8...
                              ...
4995    Is this film a joke? Is it a comedy? Surely it...
4996    Don't waste time reading my review. Go out and...
4997    The secret is...this movie blows. Sorry, but i...
4998    After reading the original play I thought it w...
4999    The story is extremely unique.It's about these...
Name: review, Length: 5000, dtype: object